<%- include( 'layout',  {title: 'Crear Clientes',body:null}) %>
<main class="container">
    <h1 class="title">Crear Nuevo Cliente</h1>
    <form action="/create" method="POST" class="form">
        <div class="form-group">
            <label for="ci">CI:</label>
            <input type="number" id="ci" name="ci" required class="form-input">
        </div>
        <div class="form-group">
            <label for="nombres">Nombre:</label>
            <input type="text" id="nombres" name="nombres" required class="form-input">
        </div>
        <div class="form-group">
            <label for="apellidos">Apellido:</label>
            <input type="text" id="apellidos" name="apellidos" required class="form-input">
        </div>
        <div class="form-group">
            <label for="celular">Celular:</label>
            <input type="number" id="celular" name="celular" required class="form-input">
        </div>
        <div class="form-group">
            <label for="correo">Correo:</label>
            <input type="email" id="correo" name="correo" required class="form-input">
        </div>
        <button type="submit" class="btn btn-primary">Crear</button>
    </form>
    <div>
        <a href="/" class="btn btn-secondary center">Regresar</a>
    </div>
    
</main>
<footer>
    <p>&copy; 2023 Sistema de Clientes.</p>
</footer>

